<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319038459746-lknj2pjuh99roktb8qbvl08j22au1fbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319038459746-lknj2pjuh99roktb8qbvl08j22au1fbg</string>
	<key>API_KEY</key>
	<string>AIzaSyCotuZQiV1m_8tqj9MnbWQNQcKBzsySOSY</string>
	<key>GCM_SENDER_ID</key>
	<string>319038459746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.vaani.app</string>
	<key>PROJECT_ID</key>
	<string>vaani-7d50e</string>
	<key>STORAGE_BUCKET</key>
	<string>vaani-7d50e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319038459746:ios:8e52c597be7e79a217663b</string>
	<key>DATABASE_URL</key>
	<string>https://vaani-7d50e.firebaseio.com</string>
</dict>
</plist>